body {
    margin: 0;
    padding: 0;
    background-image: url(https://media.giphy.com/media/l41Yh18f5TbiWHE0o/giphy.gif);
    background-size: cover;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
